# Ignore data and config files
*.pdf
*.txt
*.json
*.jsonl
*.npy
.env

# Ignore all files in the inference/models directory
inference/models/

# Ignore Python cache
__pycache__/

# Allow requirements.txt (in case of wildcard ignores above)
!requirements.txt
